<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl fixed-start" id="sidenav-main">
    <div class="sidenav-header text-center">
        <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0 logo" href="#" onclick="location.reload();">
            <img src="/assets/img/logo.png" class="navbar-brand-img mt-3" height="110px" alt="main_logo" />
            <!-- <span class="ms-1 font-weight-bold">Argon Dashboard 2</span> -->
        </a>
    </div>
    <hr class="horizontal mt-0 my-4 py-1" />
    <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
        <ul class="navbar-nav"  id="menu">
            <li class="nav-item">
                <a id="worker" class="nav-link" href="/admin/renderWorkers">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-clipboard-user text-danger text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Workers</span>
                </a>
            </li>
            <li class="nav-item">
                <a id="jobposter" class="nav-link" href="/admin/renderJobposters">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-signs-post text-warning text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Job Posters </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/renderReports">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-flag text-report text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Report</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/getSubscriptions">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-wand-magic-sparkles text-subscription text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Subscription</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/verificationRequest">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-wand-magic-sparkles text-subscription text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Verification Request</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/verifiedUsers">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-wand-magic-sparkles text-subscription text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Verified Users</span>
                </a>
            </li>
            <li class="nav-item">
                <!-- active -->
                <a class="nav-link" href="/admin/getChangePasswordPage">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-user-secret text-sm opacity-10" style="color: #782bef"></i>
                    </div>
                    <span class="nav-link-text ms-1">Change Password</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/massPushPage">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-thumbtack text-request text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Mass Push</span>
                </a>
            </li>

            <li class="nav-item" >
                <a class="nav-link" onclick="logout('/admin/logout')">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <!-- <i class="ni ni-single-copy-04 "></i> -->
                        <i class="fa-solid fa-arrow-right-from-bracket text-warning text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Log Out</span>
                </a>
            </li>
        </ul>
    </div>
</aside>

